# compiled output
dist
node_modules

# Environment
.env

# docker
Dockerfile
docker-compose.yml
.dockerignore

# local images

images/*.jpg
images/*.jpeg
images/*.png
images/*.gif
images/*.bmp
images/*.svg